%header.page_header
  %h1
    Surcharges
    %small= @carrier.suffixed_name

  %ul.page_actions
    %li
      = link_to("â† All carriers", companies_surcharges_path)

.padded
  Only the owner of these products can edit the surcharges.
