.bundle
db/*.sqlite3
log/*.log
tmp/**/*
*.swp
*.swo
public/uploaded
private
public/stylesheets/
.sass-cache
public/system
.DS_Store
*.cer
*.key
*.crt
/.rvmrc
tmp
copy_images.rb
.idea
coverage/
*.*~
tags
.node-version
*.iml
~$*.xlsx
.jshintrc
QUOTAGUARD-LICENSE.txt
test_shipments.rb
.env
.rbenv-vars
.byebug_history
