- @prebook_check.surcharges.each do |surcharge|
  %p= surcharge.description

- if @prebook_check.customer_price
  %p
    %strong Updated price:
    %span= number_to_currency(@prebook_check.customer_price.total_sales_price_amount, unit: @prebook_check.customer_price.sales_price_currency, format: '%u %n')

- if @prebook_check.estimated_arrival_date
  %p
    %strong Estimated arrival date:
    %span= l(@prebook_check.estimated_arrival_date, format: :long)
