.page_header
  %h1= @customer.name

= render "companies/customers/subnav", active_nav: :billing, customer_id: params[:customer_id]

= simple_form_for CustomerBillingConfiguration.edit_for_customer_recording(@customer_recording), as: :billing_configuration, url: companies_customer_billing_configuration_path, method: :put do |form|
  = render "companies/customer_recordings/billing_configuration_form", form: form
