.page_header
  %h1= @carrier_product_customer.name

= render "companies/carrier_product_customers/subnav", active_nav: :billing, carrier_product_customer_id: params[:carrier_product_customer_id]

= simple_form_for CustomerBillingConfiguration.edit_for_customer_recording(@carrier_product_customer_recording), as: :billing_configuration, url: companies_carrier_product_customer_billing_configuration_path, method: :put do |form|
  = render "companies/customer_recordings/billing_configuration_form", form: form
