%header.page_header
  %h1
    Import Customers
    %small Reading import file

%div{ data: { behavior: "poll_and_redirect", behavior_config: JSON.generate(poll_url: progress_companies_customer_import_path(@import, stage: "parsing", format: "json"), redirect_url: url_for()) } }
  = image_tag("admin/loading_indicator.gif", alt: "")
