%h2 Additional info
.form_pane
  = form.input :reference
  = form.input :additional_info, as: :text, hint: content_tag(:em, "I confirm that the vehicle is no special transport (overweight, overheight, overwidth) and carries no dangerous or explosive goods/living animals.")
