.company_settings__logo_container {
  margin: 12px 0;
}

.company_settings__no_logo {
  color: #888;
}

.company_settings__logo_img_container {
  margin-bottom: 12px;
  width: 250px;
}

.company_settings__logo_img_container img {
  max-width: 100%;
  height: auto;
}
