.detail_page_delete_section {
  border-top: 1px dashed #eee;
  padding-top: 20px;
  margin: 40px 0;
  text-align: right;
}

.detail_page_delete_button {
  color: #b00;
  font-size: 14px;
  text-decoration: none;
}
