.exec_company_color_theme_forms form {
  display: inline-block;
  vertical-align: top;
}

.exec_company_color_theme_update_form input.primary-btn {
  margin-right: 0;
}

.exec_company_color_theme_try_form .field_with_errors {
  display: inline-block;
}

.exec_company_color_theme_update_form {
  border-left: 2px solid #ddd;
  padding: 0 12px;
  margin-left: 10px;
}
