.password_reset_form {
  display: block;
}

.password_reset_form__inputs {
  input.string {
    box-sizing: border-box;
    width: 100%;
  }
}

.password_reset_form__actions,
.password_reset_complete_form__actions {
  margin-top: 29px;
}

.password_reset_form__help_links,
.password_reset_complete_form__help_links {
  margin-top: 25px;
}
