form.user_confirmation_password_form {
  display: block;
}

.user_confirmation_password_form__password_inputs {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  div.input {
    float: left;
    box-sizing: border-box;
    width: 48%;

    input {
      box-sizing: border-box;
      width: 100%;
    }
  }

  div.input:last-child {
    float: right;
  }
}
