%header.page_header
  %h1 Shipment Updates

%ul
  %li= link_to "Upload new GLS updates", new_companies_shipment_updates_gls_feedback_file_path
  %li= link_to "Upload new UPS updates", new_companies_shipment_updates_ups_feedback_file_path
