body {
  font-family: sans-serif;
  font-size: 10pt;
  margin: 20px;
  padding: 0;
}

.samskip_label_container {
  border: 0.75mm solid black;
  box-sizing: border-box;
  width: 148mm;
  height: 209mm; // Actually it is 210mm but with 209mm it fits on one-page in Chrome
  overflow: hidden;
}

.label_column_right_title {
  font-size: 11pt;
  font-weight: bold;
}

.label_column_company_logo {
  height: 2cm;

  img {
    width: 100%;
    max-height: 50px;
  }
}

h3.label_column_header,
table.label_row th {
  font-weight: normal;
  font-size: 8pt;
  margin: 0;
  text-transform: uppercase;
  text-align: left;
}

table.label_row {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;

  th,
  td {
    border-left: 0.1mm solid black;
    vertical-align: top;
    padding: 1mm;
    box-sizing: border-box;
  }

  th {
    padding-bottom: 0;
  }

  td {
    border-bottom: 0.1mm solid black;
  }

  tr.without_border td {
    border-bottom: none;
  }

  th:first-child,
  td:first-child {
    border-left: none;
  }
}

.label_column_for_header {
  width: 50%;
}

.label_column_for_truck_number {
  width: 50%;
}

.label_column_for_driver {
  width: 35%;
}

.label_column_for_date {
  width: 30%;
}

.label_column_for_sender {
  width: 50%;
}

.label_column_for_package_amount {
  width: 15%;
}

.label_column_for_package_contents {
  width: 45%;
}

.label_column_for_package_weight {
  width: 15%;
}

.label_column_50percent {
  width: 50%;
}

.samskip_label_packages_container table {
  height: 6.0cm;
}

.samskip_label_package_line {
  height: 0.85cm;

  td {
    border-bottom: none !important;
  }
}

.samskip_label_remarks_for_driver td {
  border-top: 0.1mm solid black;
}

.samskip_label_addresses_container table {
  height: 3cm;
}

.samskip_label_pallet_receipt_container {
  border-bottom: 0.1mm solid black;
}

.samskip_label_pallet_receipt_container {
  font-size: 9pt;
  padding: 2mm;
}

.pallet_text {
  margin: 4pt 0;
}

span.underline_blank {
  display: inline-block;
  border-bottom: 0.01mm solid black;
  width: 1cm;
  margin: 0 1mm;
}

.samskip_label_line-3_container {
  font-size: 8pt;
}

.samskip_label_line-2_container table {
  height: 1.25cm;
}

.samskip_label_line-1_container {
  font-size: 8pt;
  padding: 2mm 1cm;
}

// Print styles

@page {
  size: A5;
  margin: 0;
}

@media print {
  body {
    margin: 0;
  }

  .samskip_label_container {
    border: none;
  }
}
