%header.page_header
  %h1
    = @view_model.carrier_product.name
    %small= @view_model.carrier.name

= simple_form_for(@view_model.form_object, url: companies_carrier_product_path(@view_model.carrier_product), method: :patch, as: :carrier_product) do |form|
  = render "form", form: form, view_model: @view_model
