%header.page_header
  %h1= @customer.name

  %ul.page_actions
    %li= link_to("Edit", edit_companies_customer_address_path(@customer), class: "primary-btn")

= render "companies/customers/subnav", active_nav: :address, customer_id: params[:customer_id]

%h2 Address

= render "companies/customer_addresses/details", customer_address: @customer_address, customer: @customer
