%strong How to prepare your file for validation:
%br
%br
%ul
  %li - We only support Excel files
  %li - Make sure your file has headers with labels in the very first row
  %li - Make sure you don’t have any duplicated shipment ID/AWB numbers
  %li - Make sure the prices are in the same row with ID/AWB
  %li - Shipment ID must contain only the numbers (ex: 1-1-111)
