%header.page_header
  %h1
    e-conomic
    %small Setup

.padded
  To setup the e-conomic integration you need to authorize access to your e-conomic account.

.padded
  = link_to("Connect with e-conomic", companies_v2_economic_access_path, method: :post, class: "primary-btn")
