%header.page_header
  %h1
    Truck driver
    %small= @truck_driver.name_was

  %ul.page_actions
    %li= link_to("Cancel", companies_truck_drivers_path, class: "secondary-btn")

= render "form", truck_driver: @truck_driver
