.page_header
  %h1 Pickups - Current

  %ul.page_actions
    - if current_company.can_book_pickup?
      %li= link_to("Book new pickup", select_customer_companies_carrier_pickups_path, class: "primary-btn")

= render "companies/pickups/filter_form", form_object: @filter

= render "companies/pickups/list_view"

.pagination
  = paginate(@filter.pickups)
